* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 400px;
  
  margin: auto;
  border: 1px solid gray;
  padding: 10px;
  padding-left: 30px;
}
#price{
    color: rgb(161, 26, 26);
    margin: 10px 0;
}
.card{
    background-color: rgb(219, 212, 212);
    padding: 15px;
    margin-bottom: 7px;
}
button{
    border: none;
    color: rgb(125, 65, 204);
    font-weight: bold;
    margin-right: 10px;
}
a{
    font-style: italic;
}